<div class="profile">
  <h1><%= image_tag(current_user.avatar, class:"avatar", id:"user") %><%= current_user.name %></h1>
</div>

<% @posts.each do |post| %>
    <div class="post">
      <div class="image">
        <%= link_to image_tag(post.image, class:'post-image'), post_path(post) %><br>
      </div>
    </div>
<% end %>
