/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  list-style-type: none;
}

h2 {
  font-weight: 300;
}

.navbar-default .navbar-nav > li > a {
  color: #484848;
  font-weight: 300;
}

.insta {
  font-family: 'Satisfy', cursive;
  color: white;
  font-size: 2em;
  float: right;
  padding-top: 2.5%;
}

.navbar {
  background-color: #C4DFE6;
  border: none;
}

.jumbotron {
  background-color: #66A5AD;
}

.post-image {
  width: 40%;
  height: auto;
}
