/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  list-style-type: none;
}

h2 {
  font-weight: 300;
}

p {
  color: #484848;
}

body {
  background-color: #f9fbfc;
}

.navbar-default .navbar-nav > li > a {
  color: #484848;
  font-weight: 300;
}

.insta {
  font-family: 'Satisfy', cursive;
  // color: white;
  font-size: 2.7em;
  float: right;
  line-height: 100px;
}

.camera {
  padding: 0.3em;
}

.bar {
  color: #072738;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.navbar {
  background-color: #f2f9fc;
  border: none;
}

.jumbotron {
  background-color: #66A5AD;
}

.post-image {
  width: 60%;
  height: auto;
  transform: rotate(90deg);
  margin-top: 5em;
  margin-bottom: 2em;
}

.post {
  .image{
      width: 500px;
      height: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
  }
}

.post {
  text-align: center;
  border: #f2f9fc 2px solid;
  border-radius: 3%;
  background-color: white;
  width: 50%;
  margin: auto;
}

.gravatar {
  border-radius: 50%;
  padding: 0.5em;
}

.form {
  position: absolute;
  left: 42%;
}

#notice {
  color: #66A5AD;
}

a:visited {
  color: #072738;
}

.insta:hover {
  color: none;
}

form.button_to {
  display: inline;
}

.add {
  font-size: 2em;
  padding: 2em;
}
